body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(206, 196, 182);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.television {
    height: 40vh;
    width: 40vw;
    border: 1em solid black;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

.screenOff img {
    display: none;
}

#screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 1em;
}

#screen.screenOff {
    display: none;
}

#default {
    display: block;
}

.info-off {
    display: none;
}

#screen {
    width: 100%;
    height: 100%;

    border-radius: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    box-sizing: content-box;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

#tv-info {
    color: red;
    font-weight: bold;
    font-style: italic;

    position: absolute;
    top: 1em;
    left: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
}

.remote {
    width: 10em;
    height: 28em;

    margin-left: 5em;
    margin-top: 2em;
    border-radius: 1em;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: content-box;
    border: 2px solid rgb(17, 15, 15);
    background-color: rgb(58, 53, 53);
}

#butOnOff {
    font-size: 1em;
}

#rowSup {

    height: 3em;
    width: 8em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


#power.ON {
    background-color: green;

    border-radius: 50%;

    width: 0.5em;
    height: 0.5em;
}

#power.OFF {
    background-color: red;

    border-radius: 50%;

    width: 0.5em;
    height: 0.5em;
}

.button {
    width: 2em;
    height: 1.8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;

    border-radius: 0.5em;
    background-color: gray;

}

#row1 {
    height: 2em;
    width: 8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#row2 {
    height: 2em;
    width: 8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#row3 {
    height: 2em;
    width: 8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#rowBot {
    height: 2em;
    width: 8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;
}