body {
    padding: 0;
    margin: 0;
    background-color: rgb(206, 196, 182);
}


.television {
    height: 40vh;
    width: 40vw;
    border: 1em solid black;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenOff img {
    display: none;
}

#screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

#screen.screenOff {
    display: none;
}

#default {
    display: block;
}

.info-off {
    display: none;
}

#screen {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#tv-info {
    color: red;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
}

.remote {
    width: 1em;
    height: 25em;
    border-radius: 1em;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid rgb(17, 15, 15);
    background-color: rgb(58, 53, 53);
}

#butOnOff {
    font-size: 1em;
}

#rowSup {
    height: 3em;
    width: 100%;
}

#power.ON {
    background-color: green;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
}

#power.OFF {
    background-color: red;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
}

.button {
    width: 2em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: gray;
}

.text-vol, .text-ch {
    color: white;
}
