body {
    padding: 0;
    margin: 0;
    
    width: 100vw;
    height: 100vh;

    background-color: rgb(206, 196, 182);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.television {
    height: 40vh;
    width: 40vw;
    background-color: gray;
    border: 1em solid black;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

.screenOff{
    img {
        display: none;
    }
}

#screen {
    width: 100%;
    height: 100%;

    border-radius: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-position: center;
    box-sizing: content-box;

}

.remote {
    width: 10em;
    height: 28em;

    margin-left: 5em;
    margin-top: 2em;
    border-radius: 1em;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    box-sizing: content-box;
    background-color: rgb(110, 106, 106);
}
#led {
    height: 3em;
    width: 8em;

    display: flex;

}

.OFF {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border-radius: 50%;
    background-color: red;

}

.ON {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border-radius: 50%;
    background-color: green;

}

.button {
    width: 2em;
    height: 1.8em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;

    border-radius: 0.5em;
    background-color: gray;

}

#row1 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#row2 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}

#row3 {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;

}


